from fastapi import FastAPI, Query
from git import Repo
from os import path
from rdfproxy import Page, QueryParameters, SPARQLModelAdapter
from typing import Annotated

app = FastAPI()

{% if cors %}
from fastapi.middleware.cors import CORSMiddleware

app.add_middleware(
    CORSMiddleware,
    allow_origins={{ cors.origins | default(["*"], true) }},
    allow_credentials=True,
    allow_methods={{ cors.methods | default(["*"], true) }},
    allow_headers={{ cors.headers | default(["*"], true) }},
)
{% endif %}

# The automatic health check endpoint is /. The return code has to be 200 or 30x.
@app.get("/")
def version():
    repo = Repo(search_parent_directories=True)
    return {"version": repo.git.describe(tags=True, dirty=True, always=True)}

{% for url, endpoint in endpoints.items() %}
from {{ endpoint.filename }} import {{ endpoint.class_name }}

@app.get("{{ url }}")
def location(params: Annotated[QueryParameters, Query()]) -> Page[{{ endpoint.class_name }}]:
    adapter = SPARQLModelAdapter(
        target="{{ backend_address }}",
        query=open(f"{path.dirname(path.realpath(__file__))}/{{ endpoint.filename }}.rq")
        .read()
        .replace("\n ", " "),
        model={{ endpoint.class_name }},
    )
    return adapter.query(params)
{% endfor %}
