from pydantic import AnyUrl, BaseModel, Field  # noqa: F401
from rdfproxy import ConfigDict, SPARQLBinding
from typing import Annotated

{%- macro model(class) -%}
  {# recurse first to generate nested models #}
  {%- for field in class.fields.values() -%}
    {% if field.fields -%}
      {{- model(field) -}}
    {%- endif -%}
  {% endfor %}

{% set is_grouped = class.fields.values() | selectattr('cardinality', '==', -1) | first  %}

class {{ class.class_name }}(BaseModel):
    {%- if description %}
        """
        {{ description | indent(4) }}
        """
    {%- endif %}
    model_config = ConfigDict(
        title="{{ class.name }}",
        {%- if is_grouped %}
        group_by="id",
        {%- endif %}
    )
    {%- if class.root %}
    id: Annotated[AnyUrl, SPARQLBinding("{{ class.binding }}")]
    {%- else %}
    id: Annotated[AnyUrl | None, SPARQLBinding("{{ class.binding }}")] = None{#Field(default=None, exclude={% if is_grouped %}False{% else %}False{% endif %})#}
    {%- endif %}
{% for fieldname, field in class.fields.items() %}
    {{ fieldname ~ ": "}}
    {%- if field.binding and not field.class_name -%}
    Annotated[
    {%- endif -%}
    {%- if field.cardinality == -1 -%}
    list[
    {%- endif -%}
    {%- if field.type -%}
    {{- field.type -}}
    {%- elif field.class_name -%}
    {{ field.class_name }}
    {%- else -%}
    ????
    {% endif %}
    {%- if not is_grouped %} | None{% endif %}
    {%- if field.cardinality == -1 -%}
    ]
    {%- endif -%}
    {%- if field.binding and not field.class_name -%}
      , SPARQLBinding("{{ field.binding }}")]{# TODO default value #}
    {%- endif -%}
    {%- if not is_grouped %} = None{%- endif -%}

{%- endfor -%}
{%- endmacro -%}

{{ model(root) }}

