from pydantic import AnyUrl, BaseModel, Field  # noqa: F401
from rdfproxy import ConfigDict, SPARQLBinding
from typing import Annotated

{%- macro model(class) -%}
  {%- for field in class.fields.values() -%}
    {% if field.is_group -%}
      {{- model(field) -}}
    {%- endif -%}
  {% endfor %}

class {{ class.class_name }}(BaseModel):
    {%- if description %}
        """
        {{ description | indent(4) }}
        """
    {%- endif %}
    model_config = ConfigDict(
        title="{{ class.name }}",
        {%- if class.fields.values() | map(attribute='cardinality') | select('equalto', -1) | first %}
        group_by="TODO"
        {%- endif %}
    )
{% for fieldname, field in class.fields.items() %}
    {{ fieldname ~ ": "}}
    {%- if field.binding -%}
    Annotated[
    {%- endif -%}
    {%- if field.cardinality == -1 -%}
    list[
    {%- endif -%}
    {%- if field.type -%}
    {{- field.type -}}
    {%- elif field.class_name -%}
    {{ field.class_name }}
    {%- else -%}
    ????
    {% endif %}
    {%- if field.cardinality == -1 -%}
    ]
    {%- endif -%}
    {%- if field.binding %}
      SPARQLBinding("{{ field.binding }}"),
    ] = None
    {%- endif -%}

{%- endfor -%}
{%- endmacro -%}

{{ model(root) }}

