{%- set indent = indent | default(2) -%}

{%- for prefix, uri in prefixes.items() -%}
PREFIX {{ prefix }}: <{{ uri }}>
{% endfor %}

{% macro select(class) -%}
{%- filter indent(indent, true) -%}

{{- '?' ~ class.binding_vars[-1] -}}
  {%- for name, child in class.fields.items() %}
{{ select(child) -}}
  {% endfor -%}

{%- endfilter -%}
{%- endmacro -%}


{%- macro apply_prefixes(path) -%}
  {% set ns = namespace(path=path) %}
  {%- for prefix, uri in prefixes.items() -%}
    {% set ns.path = (ns.path | replace(uri, prefix ~ ':')) %}
  {%- endfor -%}
  {{- ns.path -}}
{%- endmacro -%}

{%- macro where(class) -%}
  {%- filter indent(indent, true) -%}
    {%- for path in class.path_array -%}
      {%- if path is not none -%}
        {%- if loop.index0 is even -%}
          ?{{- class.binding_vars[loop.index0 // 2] }} a {{ apply_prefixes(path) ~ '.\n' }}
        {%- else -%}
          ?{{- class.binding_vars[loop.index0 // 2] }} {{ apply_prefixes(path) }} ?{{ class.binding_vars[loop.index0 // 2 + 1] ~ '.\n' }}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {{ '\n' }}
    {%- for name, child in class.fields.items() -%}
      {%- if child.cardinality == -1 -%}
        {{- 'OPTIONAL {\n' -}}
      {%- endif -%}
      {{- where(child) -}}
      {%- if child.cardinality == -1 -%}
        {{- '}\n' -}}
      {%- endif -%}
    {%- endfor -%}
  {%- endfilter -%}
{%- endmacro -%}



SELECT
{{ select(root) }}

WHERE {
{{ where(root) }}
}
